[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ra140596
[access "refs/for/refs/*"]
	read = group user/ra140596
	push = group user/ra140596
	label-Code-Review = -2..+2 group user/ra140596
	label-Verified = -1..+1 group user/ra140596
	rebase = group user/ra140596
	removeReviewer = group user/ra140596
	submit = group user/ra140596
[access "refs/heads/*"]
	read = group user/ra140596
	create = group user/ra140596
	push = +force group user/ra140596
	pushMerge = group user/ra140596
[access "refs/tags/*"]
	push = +force group user/ra140596
	pushTag = group user/ra140596
	pushSignedTag = group user/ra140596
